$card-padding: 2rem;

.card {
	background: #fff;
	border: none;

	border-radius: var(--border-radius-default);
	box-shadow: var(--box-shadow-default);

	transition: all 0.2s;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid var(--color-border);

		padding: $card-padding;
		padding-bottom: calc($card-padding / 2);
	}

	&__body {
		padding: $card-padding;
	}

	&__footer {
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid var(--color-border);
		padding: $card-padding;
		padding-top: calc($card-padding / 2);
	}
}