/**
* ==============================
* Grid System
* ==============================
*/

.row {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}

.row.align-center {
	justify-content: center;
}

.row.stretch {
	align-content: stretch;
}

.row.around {
	align-content: space-around;
}

.row.align-left {
	justify-content: flex-start;
}

.row.align-right {
	justify-content: flex-end;
}

.row.align-center-between {
	justify-content: space-between;
}

.row.align-center-around {
	justify-content: space-around
}

.row .col {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
}

.row .col.auto {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	-webkit-flex: 1 1 0 !important;
	-ms-flex: 1 1 0 !important;
	flex: 1 1 0 !important;
}

.row .col.s1 {
	width: calc(100% / 12);
}

.row .col.s2 {
	width: calc(100% / 6);
}

.row .col.s3 {
	width: 25%;
}

.row .col.s4 {
	width: calc(100% / 3);
}

.row .col.s6 {
	width: 50%;
}

.row .col.s12 {
	width: 100%;
}

.row .col.offset-s1 {
	margin-left: calc(100% / 12);
}

.row .col.offset-s2 {
	margin-left: calc(100% / 6);
}

.row .col.offset-s3 {
	margin-left: 25%;
}

.row .col.offset-s4 {
	margin-left: calc(100% / 3);
}

.row .col.offset-s6 {
	margin-left: 50%;
}

@media (min-width: 601px) {
	.row .col.m1 {
		width: calc(100% / 12);
	}

	.row .col.m2 {
		width: calc(100% / 6);
	}

	.row .col.m3 {
		width: 25%;
	}

	.row .col.m4 {
		width: calc(100% / 3);
	}

	.row .col.m6 {
		width: 50%;
	}

	.row .col.m12 {
		width: 100%;
	}

	.row .col.offset-m1 {
		margin-left: calc(100% / 12);
	}

	.row .col.offset-m2 {
		margin-left: calc(100% / 6);
	}

	.row .col.offset-m3 {
		margin-left: 25%;
	}

	.row .col.offset-m4 {
		margin-left: calc(100% / 3);
	}

	.row .col.offset-m6 {
		margin-left: 50%;
	}
}

@media (min-width: 992px) {
	.row .col.l1 {
		width: calc(100% / 12);
	}

	.row .col.l2 {
		width: calc(100% / 6);
	}

	.row .col.l3 {
		width: 25%;
	}

	.row .col.l4 {
		width: calc(100% / 3);
	}

	.row .col.l6 {
		width: 50%;
	}

	.row .col.l12 {
		width: 100%;
	}

	.row .col.offset-l1 {
		margin-left: calc(100% / 12);
	}

	.row .col.offset-l2 {
		margin-left: calc(100% / 6);
	}

	.row .col.offset-l3 {
		margin-left: 25%;
	}

	.row .col.offset-l4 {
		margin-left: calc(100% / 3);
	}

	.row .col.offset-l6 {
		margin-left: 50%;
	}
}

@media (min-width: 1200px) {
	.row .col.xl1 {
		width: calc(100% / 12);
	}

	.row .col.xl2 {
		width: calc(100% / 6);
	}

	.row .col.xl3 {
		width: 25%;
	}

	.row .col.xl4 {
		width: calc(100% / 3);
	}

	.row .col.xl6 {
		width: 50%;
	}

	.row .col.xl12 {
		width: 100%;
	}

	.row .col.offset-xl1 {
		margin-left: calc(100% / 12);
	}

	.row .col.offset-xl2 {
		margin-left: calc(100% / 6);
	}

	.row .col.offset-xl3 {
		margin-left: 25%;
	}

	.row .col.offset-xl4 {
		margin-left: calc(100% / 3);
	}

	.row .col.offset-xl6 {
		margin-left: 50%;
	}
}

@media (min-width: 1900px) {
	.row .col.xxl1 {
		width: calc(100% / 12);
	}

	.row .col.xxl2 {
		width: calc(100% / 6);
	}

	.row .col.xxl3 {
		width: 25%;
	}

	.row .col.xxl4 {
		width: calc(100% / 3);
	}

	.row .col.xxl6 {
		width: 50%;
	}

	.row .col.xxl12 {
		width: 100%;
	}

	.row .col.offset-xxl1 {
		margin-left: calc(100% / 12);
	}

	.row .col.offset-xxl2 {
		margin-left: calc(100% / 6);
	}

	.row .col.offset-xxl3 {
		margin-left: 25%;
	}

	.row .col.offset-xxl4 {
		margin-left: calc(100% / 3);
	}

	.row .col.offset-xxl6 {
		margin-left: 50%;
	}
}

@media (min-width: 2560px) {
	.row .col.r1 {
		width: calc(100% / 12);
	}

	.row .col.r2 {
		width: calc(100% / 6);
	}

	.row .col.r3 {
		width: 25%;
	}

	.row .col.r4 {
		width: calc(100% / 3);
	}

	.row .col.r6 {
		width: 50%;
	}

	.row .col.r7 {
		width: calc(100% / (12/7));
	}

	.row .col.r8 {
		width: calc(100% / (12/8));
	}

	.row .col.r9 {
		width: calc(100% / (12/9));
	}

	.row .col.r10 {
		width: calc(100% / (12/10));
	}

	.row .col.r11 {
		width: calc(100% / (12/11));
	}

	.row .col.r12 {
		width: 100%;
	}

	.row .col.offset-r1 {
		margin-left: calc(100% / 12);
	}

	.row .col.offset-r2 {
		margin-left: calc(100% / 6);
	}

	.row .col.offset-r3 {
		margin-left: 25%;
	}

	.row .col.offset-r4 {
		margin-left: calc(100% / 3);
	}

	.row .col.offset-r6 {
		margin-left: 50%;
	}
}