/**
* ==============================
* Hero Banners
* ==============================
*/

.full-hero,
.hero {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	align-content: stretch;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	overflow: hidden;
	position: relative;
	justify-content: center;
	align-items: center;
}

.hero::before,
.full-hero::before {
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.hero.transparent::before {
	background: transparent;
}

.hero.light::before,
.full-hero.light::before {
	background: rgba(255, 255, 255, 0.5);
	color: #424242;
}

.hero > * {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	align-self: auto;
	width: 90%;
	z-index: 2;
}

/** Medium Screens, Tablets (601px) **/
@media screen and (min-width: 37.56255em) {
	.hero {
		min-height: 80%;
		height: auto;
	}
}

/** Medium Devices, Desktops (992px)**/
@media screen and (min-width: 62em) {
	.hero {
		min-height: 50%;
	}
}