@import './variables.scss';

*,
*:before,
*:after {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	background: transparent;
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

::selection {
	background: rgba(0, 188, 212, 0.2);
}

html,
body {
	height: 100dvh;
	width: 100dvw;

	margin: 0;
	padding: 0;

	overflow-x: hidden;
	font-family: sans-serif;

	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: 0.5rem;
	border: none;
}

hr {
	border: none;
	border-top: 1px solid var(--color-border);
	margin: 1rem 0;
}

input,
select,
textarea {
	color: var(--color-input);
	background: var(--color-input-background);
	border: 1px solid var(--color-border);

	padding: 0.5rem 0.75rem;

	&:disabled {
		color: var(--color-input-disabled);
		background: var(--color-input-background-disabled);

		cursor: not-allowed;
	}
}

button,
input,
optgroup,
select,
textarea {
	appearance: none;
	margin: 0;
	overflow: auto;
}

code {
	font-family: monospace;
}


@import './tabs.scss';
@import './card.scss';