/**
* ==============================
* Paddings
* ==============================
*/

.padded-0 {
	padding: 0;
}

.padded-1 {
	padding: 1em;
}

.padded-2 {
	padding: 2em;
}

.padded-3 {
	padding: 3em;
}

.padded-4 {
	padding: 4em;
}

.padded-5 {
	padding: 5em;
}


/**
* ==============================
* Margins
* ==============================
*/

.margin-0 {
	margin: 0;
}

.margin-1 {
	margin: 1em;
}

.margin-2 {
	margin: 2em;
}

.margin-3 {
	margin: 3em;
}

.margin-4 {
	margin: 4em;
}

.margin-5 {
	margin: 5em;
}