.tabs {
	display: flex;
	margin: 0;
	margin-bottom: 0px;
	padding: 0;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;

	.tab {
		list-style: none;
		padding: 1rem 2rem;
		padding-bottom: 0.5rem;
		text-decoration: none;

		font-weight: bold;
		color: var(--color-subtext);
		text-align: center;

		cursor: pointer;

		border-bottom: 2px solid transparent;

		&--active {
			border-bottom: 2px solid var(--color-primary);
			color: var(--color-primary);
		}

		&:not(.active):hover {
			border-bottom: 2px solid var(--color-primary);
			color: var(--color-primary);
		}
	}
}