:root {
	--color-primary: #f75c5f;

	--color-text: #000000;
	--color-subtext: #868686;

	--color-input: #66615b;
	--color-input-disabled: #bfc7d1;
	--color-input-background: #fff;
	--color-input-background-disabled: #f8f9fa;

	--color-border: #ddd;
	--color-border-hover: #b4bdc9;
	--color-border-active: #a9b3c1;

	--breakpoint-small: 30rem;
	--breakpoint-phablet: 37.56255rem;
	--breakpoint-tablet: 62rem;
	--breakpoint-desktop: 75rem;
	--breakpoint-desktop-large: 120rem;
	--breakpoint-retina: 160rem;
	--breakpoint-4k: 240rem;
	--breakpoint-5k: 312.5rem;
	--breakpoint-8k: 500rem;

	--box-shadow-default: 0px 6px 6px hsla(0, 0%, 73%, 0.5);
	--box-shadow-extra: 0 13px 22px rgba(0, 0, 0, 0.01), 0 3px 12px rgba(0, 0, 0, 0.1);
}